@using ETicket.Data.ViewModels
@model LoginViewModel


<div class="row">
    <div class="col-md-12">
        <h2>Kullanıcı Girişi</h2>

        <div class="row">
            @if(TempData["Error"] != null)
            {
                <div class="alert alert-danger col-md-12">
                    <p><strong>Hata!</strong> @TempData["Error"]</p>
                </div>
            }
            <div class="col-md-10">
                <form asp-action="Login">
                    <div class="form-group">
                        <label class="control-label" asp-for="EmailAddress"></label>
                        <input class="form-control" asp-for="EmailAddress" />
                        <span class="text-danger" asp-validation-for="EmailAddress"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Password"></label>
                        <input class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">                        
                        <button class="btn btn-primary" type="submit">Giriş</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>